.smaller-image {
    width: 200px;

     /* border-color: darkblue;
       border-width: 10px; */
    /* border-style: solid; */
    }
    
    .heading-text {
     color: peru; 
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .green-text {
        color:forestgreen;

    }

   body {
       background-color: lightsteelblue;
   }

   .pic-border {
      border:  darkolivegreen 10px solid;
      border-radius: 5px;
      margin: -5px;
   }
   /* border code in one line rep's color, width, style. All required for border to show */

   /* Another way to create a CSS class
        .bio-font {
       font-family: Verdana, Geneva, Tahoma, sans-serif;
   } */

   .bio-font {
       font-family: cursive;
   }